@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.quality-text-5 {
  color: #EECA2A !important;
}

.quality-text-4 {
  color: #A02EF7 !important;
}

.quality-text-3 {
  color: #3A92FF !important;
}

.quality-text-2 {
  color: #2DC50E !important;
}

.quality-text-1 {
  color: white !important;
}

.quality-square {
  height: 100%;
  border-radius: 5px;
  display: inline-block;
}

.quality-opacity-5 {
  background: rgba(238, 202, 42, 0.2);
  border: 1px solid #766209;
}

.quality-opacity-4 {
  background: rgba(160, 46, 247, 0.2);
  border: 1px solid #4f0587;
}

.quality-opacity-3 {
  background: rgba(58, 146, 255, 0.2);
  border: 1px solid #0047a0;
}

.quality-opacity-2 {
  background: rgba(45, 197, 14, 0.2);
  border: 1px solid #0c3604;
}

.quality-opacity-1 {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #b3b3b3;
}

.quality-5 {
  background: #EECA2A !important;
  border: 1px solid #d4b011 !important;
}

.quality-4 {
  background: #A02EF7 !important;
  border: 1px solid #8809e9 !important;
}

.quality-3 {
  background: #3A92FF !important;
  border: 1px solid #0776ff !important;
}

.quality-2 {
  background: #2DC50E !important;
  border: 1px solid #22950b !important;
}

.quality-1 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.quality-0 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.character-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

.character-name img {
  margin-top: 5px;
}

.character-name h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.character-name h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.item-icon.size-40 {
  max-width: 40px;
}

.item_image .fa {
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
}

.inventory .item_image {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.inventory .slot-count {
  position: absolute;
  color: white;
  margin-top: -17px;
  width: 40px;
  text-align: right;
}

.table-grid tbody tr td {
  border: 1px solid #2d2d2d;
}

body {
  background: #1A1A1A;
}

.max-width {
  max-width: 100%;
}

body.eso-background {
  background: url("/gfx/The_Elder_Scrolls_Online_Background_Nord.jpg");
  background-position: center top 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
  color: dimgray;
}

.betaLogo {
  background-color: red;
  position: absolute;
  margin-bottom: -32px;
  margin-top: 9px;
  margin-left: -29px;
  z-index: 2;
}

.badge {
  margin-top: -2px;
}

.no-padding {
  padding: 0px !important;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0px;
}

.nowrap {
  white-space: nowrap;
}

#app {
  padding-top: 90px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.background-square {
  display: inline-block;
  height: 100%;
  border-radius: 5px;
}

.icon-size {
  max-width: 20px;
  margin-top: -2px;
}

.set-table td > .item-icon {
  max-width: 25px;
}

.min-width {
  max-width: 1%;
}

.form-control:focus {
  background-color: #353535 !important;
  color: #fff;
  border: 1px solid #5a5a5a;
}

.quality-text-5 {
  color: #EECA2A !important;
}

.quality-text-4 {
  color: #A02EF7 !important;
}

.quality-text-3 {
  color: #3A92FF !important;
}

.quality-text-2 {
  color: #2DC50E !important;
}

.quality-text-1 {
  color: white !important;
}

.quality-5 {
  background: #EECA2A !important;
  border: 1px solid #d4b011 !important;
}

.quality-4 {
  background: #A02EF7 !important;
  border: 1px solid #8809e9 !important;
}

.quality-3 {
  background: #3A92FF !important;
  border: 1px solid #0776ff !important;
}

.quality-2 {
  background: #2DC50E !important;
  border: 1px solid #22950b !important;
}

.quality-1 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.quality-0 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #777777;
}

.text-legendary {
  color: #EECA2A;
}

body.sidebar-disabled #sidebar-switch, body:not(.sidebar-disabled) #top-menu-switch {
  display: block;
}

#importDropzone {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  min-height: 125px;
  border: #767676;
  background: #272727;
  padding: 40px;
  vertical-align: middle;
}

.fa {
  font-size: 14px;
  color: white;
}

#export-upload {
  margin-top: 15px;
}

.dropzone-message {
  position: absolute;
  text-align: center;
  left: 0px;
  width: 100%;
}

.dropzone-message.message-successfull,
.dropzone-message.message-uploading,
.dropzone-message.message-failed {
  margin-top: 7px;
  display: none;
}

.alliance-img {
  max-width: 40px;
}

.min-width {
  width: 1%;
}

.text-bold {
  font-weight: bold;
}

.characterClassImage {
  max-width: 21px;
}

.setbox {
  width: 325px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EECA2A !important;
  margin-bottom: 20px;
  z-index: 10;
}

.setbox .bonusName {
  color: #EECA2A;
}

.setbox .setBonuses {
  margin-top: 15px;
}

.setbox .setCount {
  margin-top: 10px;
  margin-bottom: 10px;
}

.setbox .champion-icon {
  max-width: 20px;
  margin-top: -2px;
}

.setbox li {
  margin-bottom: 5px;
}

.itemBox {
  margin-top: 40px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EECA2A !important;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;
}

.itemBox .item-icon {
  margin-top: -30px;
  margin-bottom: -10px;
}

.itemBox .bonusName {
  color: #EECA2A;
}

.itemBox .setBonuses {
  margin-top: 10px;
}

.itemBox .champion-icon {
  max-width: 20px;
  margin-top: -2px;
}

.itemBox .enchantInfo {
  margin-bottom: 10px;
}

.itemBox .traitInfo {
  margin-bottom: 10px;
}

.itemBox li {
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.setbonus-list span.health {
  color: #ff6666;
}

.setbonus-list span.number {
  font-weight: bold;
  color: #eec929;
}

.setbonus-list span.magicka {
  color: #5c5cf6;
}

.setbonus-list span.stamina {
  color: #008000;
}

.item-icons i {
  margin-left: 5px;
}

.faded-icon {
  color: #363636;
}

.item-hover .itemBox {
  position: absolute;
  background-color: #1A1A1A;
}

.set-hover .setbox {
  display: inline;
  position: absolute;
  background-color: #1A1A1A;
  left: 60px;
  margin-top: 17px;
  width: 300px;
}

.set-hover :hover .setbox {
  display: inline;
}

.startpage-tracked .count:nth-child(1) {
  margin-top: 0px;
}

.startpage-tracked .count {
  color: white;
  margin-bottom: 0px;
}

.character-equipped-items .row {
  margin-bottom: 10px;
}

/*# sourceMappingURL=app.css.map */
