@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 100px;
  }
  .dl-horizontal dd {
    margin-left: 120px;
  }
}

.popover {
  min-width: 250px;
}

.fa.active {
  color: white;
}

.scroll-245 {
  max-height: 245px;
  overflow-y: scroll;
}

.quality-text-5 {
  color: #EECA2A !important;
}

.quality-text-4 {
  color: #A02EF7 !important;
}

.quality-text-3 {
  color: #3A92FF !important;
}

.quality-text-2 {
  color: #2DC50E !important;
}

.quality-text-1 {
  color: white !important;
}

.quality-square {
  height: 100%;
  border-radius: 5px;
  display: inline-block;
}

.quality-opacity-5 {
  background: rgba(238, 202, 42, 0.2);
  border: 1px solid #766209;
}

.quality-opacity-4 {
  background: rgba(160, 46, 247, 0.2);
  border: 1px solid #4f0587;
}

.quality-opacity-3 {
  background: rgba(58, 146, 255, 0.2);
  border: 1px solid #0047a0;
}

.quality-opacity-2 {
  background: rgba(45, 197, 14, 0.2);
  border: 1px solid #0c3604;
}

.quality-opacity-1 {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #b3b3b3;
}

.quality-5 {
  background: #EECA2A !important;
  border: 1px solid #d4b011 !important;
}

.quality-4 {
  background: #A02EF7 !important;
  border: 1px solid #8809e9 !important;
}

.quality-3 {
  background: #3A92FF !important;
  border: 1px solid #0776ff !important;
}

.quality-2 {
  background: #2DC50E !important;
  border: 1px solid #22950b !important;
}

.quality-1 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.quality-0 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.guild-members .guild-rank {
  margin-top: -6px;
  margin-bottom: -5px;
  max-width: 32px;
  opacity: 0.3;
}

#guild-dashboard .sales-tables table tr td {
  height: 36px;
}

.character-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

.character-name img {
  margin-top: 5px;
}

.character-name h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.character-name h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.character-attributes .progress {
  margin-top: 3px;
  margin-bottom: 3px;
}

.popover-content ul {
  padding-left: 0px;
  list-style-type: none;
}

.popover-content ul li {
  margin-left: 0px;
}

.ability-icon.ability-locked img {
  opacity: 0.2;
}

.ability-icon.ability-locked .fa {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 27px;
  color: white;
}

.ability-icon .fa {
  display: none;
}

.item-icon.size-40 {
  max-width: 40px;
}

.item_image > .item-hover > .fa {
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
}

.item-row-icon {
  max-width: 25px;
}

.inventory .item_image {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.filter-icons img {
  max-width: 34px;
}

.filter-icons .btn {
  padding: 0px;
}

.slot-count {
  position: absolute;
  margin-top: 23px;
  width: 38px;
  text-align: right;
  font-weight: bold;
}

.table-grid tbody tr td {
  border: 1px solid #2d2d2d;
}

.valign-middle {
  vertical-align: middle !important;
}

.valign-bottom {
  vertical-align: bottom !important;
}

#crafting-calculator .research-line {
  width: 100px;
  display: inline-block;
}

#crafting-calculator .material {
  display: inline-block;
  width: 250px;
}

#crafting-calculator .temper {
  width: 200px;
  display: inline-block;
}

#crafting-calculator .trait {
  width: 200px;
  display: inline-block;
}

#crafting-calculator .item-style {
  width: 200px;
  display: inline-block;
}

#crafting-calculator .crafting-box {
  border: 1px solid #191919;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  background: #1A1A1A;
}

#crafting-calculator .crafting-box .image {
  float: left;
  min-height: 32px;
}

#crafting-calculator .crafting-box .big-image {
  max-width: 72px;
  margin-bottom: 5px;
}

#crafting-calculator .crafting-box .name {
  font-weight: bold;
  text-transform: capitalize;
  color: #767676;
  margin-left: 5px;
}

#crafting-calculator .crafting-box .description {
  margin-left: 5px;
}

#crafting-calculator .crafting-box img {
  max-width: 32px;
  margin-left: 5px;
}

#crafting-calculator .crafting-box:hover {
  background: #272727;
  cursor: pointer;
}

#crafting-calculator .crafting-box.active {
  background: #262626;
  border: 1px solid #191919;
}

#crafting-calculator .crafting-box.active .name {
  color: white;
}

#crafting-calculator .crafting-box.active .material-count {
  display: block;
}

#crafting-calculator .temper {
  height: 49px;
}

#crafting-calculator .material .material-count {
  border: 1px solid #191919;
  display: none;
  font-size: 16px;
  margin-right: 5px;
  background: #1A1A1A;
  padding: 4px;
  cursor: default;
}

#crafting-calculator .material .material-count .crafting-items {
  display: inline;
}

#crafting-calculator .material .material-count .crafting-items ul {
  display: inline;
}

#crafting-calculator .material .material-count .crafting-items .crafting-item {
  display: none;
}

#crafting-calculator .material .material-count .crafting-items .crafting-item.active {
  display: inline;
}

#crafting-calculator .material .material-count span {
  cursor: default;
}

#crafting-calculator .material .material-count .value {
  margin-left: 10px;
  margin-right: 10px;
}

#item-preview {
  border: 1px solid #EECA2A !important;
}

#item-preview .item-icon {
  margin-top: -15px;
}

#item-preview .item-stat, #item-preview .champion-level, #item-preview .level {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 16px;
}

#item-preview .item-stat {
  text-align: right;
}

#item-preview .level {
  text-align: left;
}

#item-preview .level img {
  max-width: 20px;
}

#item-preview .trait-name {
  font-weight: bold;
  color: white;
}

#item-preview .set-name {
  font-weight: bold;
  color: white;
  margin-top: 15px;
}

#item-cost img {
  max-height: 18px;
}

.itemstyle-armor {
  clear: both;
}

.itemstyle-armor .thumbnail {
  float: left;
}

.itemstyle-armor .thumbnail img {
  max-height: 250px;
}

.motifs-list {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

.motifs-list .item_image {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.dungeon-image.max-width-350 {
  max-width: 350px;
}

.dungeon-image.max-width-350 img {
  max-width: 340px;
}

#daily-pledges-container .daily-pledge {
  margin-bottom: 15px;
}

#daily-pledges-container .daily-pledge .pledge-image {
  background-size: cover;
  background-position: center;
}

#daily-pledges-container .daily-pledge h5, #daily-pledges-container .daily-pledge .sets {
  background: rgba(38, 38, 38, 0.9);
}

#daily-pledges-container .daily-pledge h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#daily-pledges-container .daily-pledge h5 a {
  color: white;
}

#daily-pledges-container .daily-pledge .sets {
  min-height: 58px;
  margin-top: 200px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-margin {
  margin: 0px !important;
}

.margin-top-19 {
  margin-top: 19px;
}

.margin-top-66 {
  margin-top: 66px;
}

.width-40 {
  max-width: 40px;
}

.width-80 {
  max-width: 80px;
}

.width-120 {
  max-width: 120px;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.addon-version {
  margin-top: -15px;
  color: white;
}

.import-guide li {
  margin-bottom: 10px;
}

.fa-gray {
  color: #5c5c5c !important;
}

#importDropzone {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  min-height: 125px;
  border: #767676;
  padding: 40px;
  vertical-align: middle;
}

#importDropzone .fa {
  font-size: 14px;
  color: white;
}

#export-upload {
  margin-top: 15px;
}

.dropzone-message {
  position: absolute;
  text-align: center;
  left: 0px;
  width: 100%;
}

.dropzone-message.message-failed {
  display: none;
}

.dropzone-message.message-successfull,
.dropzone-message.message-uploading {
  margin-top: 7px;
  display: none;
}

.admin-wrap {
  margin-top: 40px;
}

.admin-wrap > .content {
  padding-top: 25px;
}

.admin-wrap .navigation .sidebar {
  background: #1A1A1A;
}

@media (max-width: 480px) {
  .admin-wrap > .content {
    margin-left: 0px;
  }
}

body {
  background: #1A1A1A;
}

body .main-wrap > footer {
  height: auto;
}

.max-width {
  max-width: 100%;
}

.color-inactive {
  color: #363636 !important;
}

body.eso-background {
  background-position: center top 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
  color: dimgray;
}

.betaLogo {
  background-color: red;
  position: absolute;
  margin-bottom: -32px;
  margin-top: 9px;
  margin-left: -29px;
  z-index: 2;
}

.badge {
  margin-top: -2px;
}

.no-padding {
  padding: 0px !important;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0px;
}

.nowrap {
  white-space: nowrap;
}

#app > .content {
  min-height: 80vh;
}

#app.panels {
  padding-top: 90px;
}

#app.full {
  padding-top: 52px;
}

.content > .container {
  padding-top: 19px;
  padding-bottom: 20px;
}

body .sub-navbar.sub-navbar__header-breadcrumbs {
  margin-bottom: 0px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.background-square {
  display: inline-block;
  height: 100%;
  border-radius: 5px;
}

.icon-size-40 {
  max-height: 40px;
}

.icon-size {
  max-width: 20px;
  margin-top: -2px;
}

.set-table td > .item-icon {
  max-width: 25px;
}

.min-width {
  max-width: 1%;
}

.form-control:focus {
  background-color: #353535 !important;
  color: #fff;
  border: 1px solid #5a5a5a;
}

.quality-text-5 {
  color: #EECA2A !important;
}

.quality-text-4 {
  color: #A02EF7 !important;
}

.quality-text-3 {
  color: #3A92FF !important;
}

.quality-text-2 {
  color: #2DC50E !important;
}

.quality-text-1 {
  color: white !important;
}

.quality-5 {
  background: #EECA2A !important;
  border: 1px solid #d4b011 !important;
}

.quality-4 {
  background: #A02EF7 !important;
  border: 1px solid #8809e9 !important;
}

.quality-3 {
  background: #3A92FF !important;
  border: 1px solid #0776ff !important;
}

.quality-2 {
  background: #2DC50E !important;
  border: 1px solid #22950b !important;
}

.quality-1 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.quality-0 {
  background: white !important;
  border: 1px solid #e6e6e6 !important;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #777777;
}

.text-legendary {
  color: #EECA2A;
}

body.sidebar-disabled #sidebar-switch, body:not(.sidebar-disabled) #top-menu-switch {
  display: block;
}

.alliance-img {
  max-width: 40px;
}

.min-width {
  width: 1%;
}

.text-bold {
  font-weight: bold;
}

.characterClassImage {
  max-width: 21px;
}

.setbox {
  width: 325px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EECA2A !important;
  margin-bottom: 20px;
  z-index: 10;
}

.setbox .bonusName {
  color: #EECA2A;
}

.setbox .setBonuses {
  margin-top: 15px;
}

.setbox .setCount {
  margin-top: 10px;
  margin-bottom: 10px;
}

.setbox .champion-icon {
  max-width: 20px;
  margin-top: -2px;
}

.setbox li {
  margin-bottom: 5px;
}

.itemBox {
  margin-top: 40px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid #EECA2A !important;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;
}

.itemBox .item-icon {
  margin-top: -30px;
  margin-bottom: -10px;
}

.itemBox .bonusName {
  color: #EECA2A;
}

.itemBox .setBonuses {
  margin-top: 10px;
}

.itemBox .champion-icon {
  max-width: 20px;
  margin-top: -2px;
}

.itemBox .enchantInfo {
  margin-bottom: 10px;
}

.itemBox .traitInfo {
  margin-bottom: 10px;
}

.itemBox li {
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.setbonus-list span.health {
  color: #ff6666;
}

.setbonus-list span.number {
  font-weight: bold;
  color: #eec929;
}

.setbonus-list span.magicka {
  color: #5c5cf6;
}

.setbonus-list span.stamina {
  color: #008000;
}

.item-icons > i {
  margin-left: 5px;
}

.faded-icon {
  color: #363636;
}

.item-hover .itemBox {
  position: absolute;
  background-color: #1A1A1A;
}

.set-hover .setbox {
  display: inline;
  position: absolute;
  background-color: #1A1A1A;
  left: 60px;
  margin-top: 17px;
  width: 300px;
}

.set-hover :hover .setbox {
  display: inline;
}

.startpage-tracked .count:nth-child(1) {
  margin-top: 0px;
}

.startpage-tracked .count {
  color: white;
  margin-bottom: 0px;
}

.character-equipped-items .row {
  margin-bottom: 10px;
}

/*# sourceMappingURL=app.css.map */
