.admin-wrap {
  margin-top: 40px;

  > .content {
    padding-top: 25px;
  }


  .navigation .sidebar {
    background: #1A1A1A;
  }

}


@media (max-width: 480px) {

  .admin-wrap {

    > .content {
      margin-left: 0px;
    }

  }
}
