.character-name {
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    margin-top: 5px;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.character-attributes {
  .progress {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.popover-content {
  ul {
    li {
      margin-left: 0px;
    }

    padding-left: 0px;
    list-style-type: none;
  }
}


.ability-icon {
  &.ability-locked {
    img {
      opacity: 0.2;
    }

    .fa {
      display: inline-block;
      position: absolute;
      top: 11px;
      left: 27px;
      color: white;
    }
  }

  .fa {
    display: none;
  }


}