@media (min-width: 768px) {

  .dl-horizontal dt {
    width: 100px;
  }
  .dl-horizontal dd {
    margin-left: 120px;
  }


}

.popover {
  min-width: 250px;
}

.fa.active {
  color: white;
}

.auto-size {
  max-width: 100%;
}