.guild-members {

  .guild-rank {
    margin-top: -6px;
    margin-bottom: -5px;
    max-width: 32px;
    opacity: 0.3;
  }

}

#guild-dashboard {

  .sales-tables table {

    tr {

      td {
        height: 36px;
      }
    }

  }


}