.inventory {

  .item_image {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .slot-count {
    position:absolute;
    color: white;
    margin-top: -17px;
    width: 40px;
    text-align: right;

  }

}