.inventory {

  .item_image {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }

}

.filter-icons {
  img {
    max-width: 34px;
  }

  .btn {
    padding: 0px;
  }

}

.slot-count {
  position: absolute;
  margin-top: 23px;
  width: 38px;
  text-align: right;
  font-weight: bold;
}
