.no-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.margin-top-19 {
  margin-top: 19px;
}

.margin-top-66 {
  margin-top: 66px;
}

.width-40 {
  max-width: 40px;
}

.width-80 {
  max-width: 80px;
}

.width-120 {
  max-width: 120px;
}