.server-status {
  margin-bottom: 4px;
}

.startpage-login {
  .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


.carousel-control span {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}