@import "qualitys";
@import "character";
@import "itemIcon";
@import "inventory";


body {
  background: url('/gfx/The_Elder_Scrolls_Online_Background_Nord.jpg');
  background-position: center top 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;

  color: lighten(#5c5c5c, 5%);
}

.betaLogo {
  background-color: red;
  position: absolute;
  margin-bottom: -32px;
  margin-top: 9px;
  margin-left: -29px;
  z-index: 2;
}

.badge {
  margin-top: -2px;
}

.no-padding {
  padding: 0px !important;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0px;
}

.nowrap {
  white-space: nowrap;
}

#app {
  padding-top: 90px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.background-square {
  display: inline-block;
  height: 100%;
  border-radius: 5px;
}

.icon-size {
  max-width: 20px;
  margin-top: -2px;
}

.set-table td > .item-icon {
  max-width: 25px;
}

.min-width {
  max-width: 1%;
}

.form-control:focus {
  background-color: #353535 !important;
  color: #fff;
  border: 1px solid lighten(#404040, 10%);
}

.quality-text-5 {
  color: $quality-legendary !important;;
}

.quality-text-4 {
  color: $quality-artifact !important;;
}

.quality-text-3 {
  color: $quality-arcane !important;;
}

.quality-text-2 {
  color: $quality-magic !important;;
}

.quality-text-1 {
  color: $quality-trash !important;;
}

.quality-5 {
  background: $quality-legendary !important;
  border: 1px solid $quality-legendary-border !important;
}

.quality-4 {
  background: $quality-artifact !important;
  border: 1px solid $quality-artifact-border !important;
}

.quality-3 {
  background: $quality-arcane !important;
  border: 1px solid $quality-arcane-border !important;
}

.quality-2 {
  background: $quality-magic !important;
  border: 1px solid $quality-magic-border !important;
}

.quality-1 {
  background: $quality-normal !important;
  border: 1px solid $quality-normal-border !important;
}

.quality-0 {
  background: $quality-trash !important;
  border: 1px solid $quality-trash-border !important;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand
{
  color: lighten(#444, 20%);
}


.text-legendary {
  color: $quality-legendary;
}

body.sidebar-disabled #sidebar-switch, body:not(.sidebar-disabled) #top-menu-switch {
  display: block;
}

#importDropzone {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  min-height: 125px;

  border: lighten(#5c5c5c, 10%);
  background: lighten(#1A1A1A, 5%);
  padding: 40px;
  vertical-align: middle;
}

.fa {
  font-size: 14px;
  color: white;
}

#export-upload {
  margin-top: 15px;
}

.dropzone-message {
  position: absolute;
  text-align: center;
  left: 0px;
  width: 100%;
}

.dropzone-message.message-successfull,
.dropzone-message.message-uploading,
.dropzone-message.message-failed {
  margin-top: 7px;
  display: none;
}

.alliance-img {
  max-width: 40px;
}

.min-width {
  width: 1%;
}

.text-bold {
  font-weight: bold;
}

.characterClassImage {
  max-width: 21px;
}

.setbox {
  width: 325px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EECA2A !important;
  margin-bottom: 20px;
  z-index: 10;

  .bonusName {
    color: #EECA2A;
  }

  .setBonuses {
    margin-top: 15px;
  }

  .setCount {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .champion-icon {
    max-width: 20px;
    margin-top: -2px;
  }

  li {
    margin-bottom: 5px;
  }

}

.itemBox {
  margin-top: 40px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EECA2A !important;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;

  .item-icon {
    margin-top: -30px;
    margin-bottom: -10px;
  }

  .bonusName {
    color: #EECA2A;
  }

  .setBonuses {
    margin-top: 10px;
  }

  .champion-icon {
    max-width: 20px;
    margin-top: -2px;
  }

  .enchantInfo {
    margin-bottom: 10px;
  }

  .traitInfo {
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 5px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.setbonus-list {

  span.health {
    color: #ff6666;
  }

  span.number {
    font-weight: bold;
    color: #eec929;
  }

  span.magicka {
    color: #5c5cf6;
  }

  span.stamina {
    color: #008000;
  }

}

.item-icons i {
  margin-left: 5px;
}

.faded-icon {
  color: darken(dimgray, 20%);
}

.item-hover {
  .itemBox {
    position: absolute;
    background-color: #1A1A1A;
  }
}

.set-hover {
  .setbox {
    display: inline;
    position: absolute;
    background-color: #1A1A1A;
    left: 60px;
    margin-top: 17px;
    width: 300px;
  }

  :hover {
    .setbox {
      display: inline;
    }

  }
}

.startpage-tracked {
  .count:nth-child(1) {
    margin-top: 0px;
  }

  .count {
    color:white;
    margin-bottom: 0px;
  }
}

.character-equipped-items {
  .row {
    margin-bottom: 10px;
  }
}
